<div class="form-group">
  <div class="input-group date" chDatepicker [date]="date" (changed)="change($event)">
    <input #input type="text" class="form-control" value="{{ value }}" (change)="changeInputValue()" (keyup.enter)="changeInputValue()" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>