.admin-sidebar-menu .badge {
  float: right;
  background-color: red;
}

.sidebar {
  width: 25%;
}

@media (min-width: 992px) {
  .sidebar {
      width: 16.66666667%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 70%;
  }
  .sidebar.sidebar-hidden {
    display: none;
  }
} 
