<ch-loader [loading]="isInitialLoading"></ch-loader>
<div [ngStyle]="{'display': (isInitialLoading ? 'none' : 'block')}">
  <ch-breadcrumb [parts]="breadcrumb" (goTo)="breadcrumbGoTo($event)"></ch-breadcrumb>
  <form (ngSubmit)="edit(form)" #form="ngForm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="card mb-4">
            <div class="card-header">{{ 'location-details:form' | translate }}</div>
            <div class="card-body">
              <div class="form-group">
                <label for="location-edit-name">{{ 'name-in-bg:edit' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="locationData.nameBg" name="nameBg" #nameBg="ngModel" class="form-control"
                  id="location-edit-name" required [readonly]="loading">
                <small class="text-danger" *ngIf="(nameBg.touched || nameBg.dirty) && !nameBg.valid">
                  {{ 'name-bg-invalid:form' | translate }}
                </small>
              </div>

              <div class="form-group">
                <label for="location-edit-country-name">{{ 'name-in-en:edit' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="locationData.nameEn" name="nameEn" #nameEn="ngModel" class="form-control"
                  id="location-edit-country-name" [readonly]="loading" required>
                <small class="text-danger" *ngIf="(nameEn.touched || nameEn.dirty) && !nameEn.valid">
                  {{ 'name-en-invalid:form' | translate }}
                </small>
              </div>

              <div class="form-group">
                <label for="location-edit-country-name">{{ 'name-from-google:edit' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="locationData.nameGoogle" name="nameGoogle" #nameGoogle="ngModel" class="form-control"
                  id="location-edit-country-name" [readonly]="loading" required>
                <small class="text-danger" *ngIf="(nameGoogle.touched || nameGoogle.dirty) && !nameGoogle.valid">
                  {{ 'name-google-invalid:form' | translate }}
                </small>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input id="is-city-checkbox" (change)="markAsCity(cityCh.checked)" #cityCh type="checkbox" name="isCity" [(ngModel)]="locationData.isCity"
                    #isCity="ngModel" class="custom-control-input">
                  <label class="custom-control-label" for="is-city-checkbox">{{ 'city:edit' | translate }}</label>
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input id="is-country-checkbox" (change)="markAsCountry(countryCh.checked)" #countryCh type="checkbox" name="isCountry" [(ngModel)]="locationData.isCountry"
                    #isCountry="ngModel" class="custom-control-input">
                  <label class="custom-control-label" for="is-country-checkbox">{{ 'country:edit' | translate }}</label>
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input id="is-neighbourhood-checkbox" (change)="markAsNeighbourhood(neighbourhoodCh.checked)" #neighbourhoodCh type="checkbox"
                    name="isNeighbourhood" [(ngModel)]="locationData.isNeighbourhood" #isNeighbourhood="ngModel" class="custom-control-input">
                  <label class="custom-control-label" for="is-neighbourhood-checkbox">{{ 'neighbourhood:edit' | translate }}</label>
                </div>
              </div>

              <div style="margin-top: 40px;">
                <button *ngIf="editMode" type="button" class="btn btn-danger" (click)="delete()" [disabled]="loading">{{ 'delete:edit' | translate }}</button>
                <span class="btn-right">
                  <button type="button" class="btn btn-secondary" (click)="cancel()" [disabled]="loading">{{ 'cancel:edit' | translate }}</button>
                  <ch-loader-button (clicked)="edit(form)" text="{{ texts.save }}" className="btn btn-primary" [loading]="formLoading" [disabled]="loading"></ch-loader-button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>