<div class="container">
  <div class="row">
    <div class="login-cont mx-auto">
      <div class="card login-form">
        <div class="card-header">{{ 'login-page-title:auth' | translate }}</div>
        <div class="card-body">
          <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'login-page-username:auth' | translate }}</label>
              <input type="text" class="form-control" required [(ngModel)]="loginData.username" name="username" #username="ngModel" id="user-login-username"
                placeholder="Username" [readonly]="loading" required>
              <div class="inp-error" *ngIf="(username.dirty || username.touched) && !username.valid">
                {{ 'forgotten-password-page-invalid-username:auth' | translate }}
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">{{ 'login-page-password:auth' | translate }}</label>
              <input type="password" class="form-control auth-inp" id="name" [(ngModel)]="loginData.password" name="password" #password="ngModel"
                id="user-login-password" placeholder="Password" [readonly]="loading" required>
              <div class="inp-error" *ngIf="(password.dirty || password.touched) && !password.valid">
                {{ 'login-page-invalid-password:auth' | translate }}
              </div>
            </div>
            <ch-loader-button (clicked)="login(loginForm)" text="Изпрати" className="btn btn-primary btn-block btn-lg mt-2"
              [loading]="loading" [disabled]="loading"></ch-loader-button>

            <p class="text-center mt-2">
              <a href="#" (click)="forgottenPassword()">{{ 'login-page-forgotten-password:auth' | translate }}</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>