<h1>{{ 'clients:sidebar' | translate }}</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'filters:listing' | translate }}</h3>
  </div>
  <div class="panel-body">
    <div class="table-nav-menu">
      <ch-search-input (search)="search($event)" value="{{ pageParams.search }}"></ch-search-input>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">{{ 'clients:sidebar' | translate }} <span *ngIf="!loading">({{ 'total' | translate:totalItemsO }})</span></div>
  <div class="card-block">
    <div class="table-responsive">
      <div>
        <div class="loading-cont" *ngIf="loading">
          <div class="loading-spinner"></div>
        </div>
        <p class="no-items-found" *ngIf="!loading && 0 === items.length">
          {{ 'no-results:listing' | translate }}
        </p>

        <table class="table table-hover" *ngIf="!loading && 0 < items.length" style="table-layout: fixed;">
          <thead>
            <tr>
              <th class="col-md-2">{{ 'name:listing:table' | translate }}</th>
              <th class="sortable col-md-2">{{ 'email:listing:table' | translate }}</th>
              <th class="sortable col-md-1">{{ 'birth-date:listing:table' | translate }}</th>
              <th class="sortable col-md-1">
                <span class="col-name">{{ 'created-at:listing:table' | translate }}
                  <ch-sortable [column]="'SIGNED_UP'" [pageParams]="pageParams" (sort)="onSort($event)"></ch-sortable>
                </span>
              </th>
              <th class="col-md-3">{{ 'actions:listing' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items;let i = index;">
              <td class="col-md-2">
                <div>{{ item.name }}</div>
              </td>
              <td class="col-md-2">
                <div>{{ item.email }}</div>
              </td>
              <td class="col-md-1">
                <div>{{ item.dateOfBirth | dateFormat }}</div>
              </td>
              <td class="col-md-1">{{ item.createdAt | dateFormat }}</td>
              <td class="col-md-3">
                <button class="btn btn-primary" (click)="viewClient(item.id)">{{ 'preview:listing' | translate }}</button>

                <ch-loading-button *ngIf="!item.isBlocked" (clicked)="block(item)" text="{{ texts.block }}" className="btn btn-primary normal" [loading]="itemBlocking[item.id]"
                  [disabled]="loading"></ch-loading-button>
                <ch-loading-button *ngIf="item.isBlocked" (clicked)="unblock(item)" text="{{ texts.unblock }}" className="btn btn-primary normal" [loading]="itemBlocking[item.id]"
                  [disabled]="loading"></ch-loading-button>
                <ch-loading-button (clicked)="resetPassword(item)" text="{{ texts.resetPassword }}" className="btn btn-primary normal" [loading]="itemLoading[item.id]"
                  [disabled]="loading"></ch-loading-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="page-bottom-container action-buttons">
    <ch-pagination *ngIf="!loading" [totalItems]="totalItems" [pageNumber]="pageParams.pageNumber" [pageSize]="pageParams.pageSize"
      (pageChanged)="onPageChanged($event)"></ch-pagination>
  </div>
</div>