<span *ngIf="loading"><div style="width: 26px; height: 26px;"class="loading-spinner"></div></span>
<button *ngIf="!loading" type="button" (click)="onClick($event)" class="{{ targetClass }}" [disabled]="disabled">{{ text }}</button>
