<div>
  <form method="post" enctype="multipart/form-data">
    <input #inp style="display:none;" type="file" (change)="fileChange($event)" placeholder="Upload file"
      accept="application/pdf,image/*">
  </form>
  <div (click)="triggerUpload()" class="image-cont">
    <div *ngIf="!resourceId && !loading" class="no-image">Няма избран файл</div>

    <ch-file-view *ngIf="cvData && !loading" [data]="cvData"></ch-file-view>

    <div class="loading-cont" *ngIf="loading">
      <div class="loading-spinner"></div>
    </div>
  </div>
</div>
