main {
    float: left;
    margin-left: 25%;
    width: 75%;
}

@media (min-width: 992px) {
    main {
        margin-left: 16.66666667%;
        width: 83.33333333%;
    }
}

@media (max-width: 768px) {
    main {
        margin-left: 0;
        width: 100%;
    }
} 
