<div (click)="onClick($event)" class="image-cont">
  <div *ngIf="hasNoImage" class="no-image">Няма избрана снимка</div>
  <img #image src="{{ imageUrl }}" alt="Няма избрана снимка" [ngStyle]="{ display: ((!this.resourceId || this.loading) ? 'none' : 'initial') }">
  <div class="loading-cont" *ngIf="loading">
    <div class="loading-spinner"></div>
  </div>
</div>