<div class="container">
  <div class="row">
    <div class="login-cont mx-auto">
      <div class="card login-form">
        <div class="card-header">{{ 'forgotten-password-page-title:auth' | translate }}</div>
        <div class="card-body">
          <form (ngSubmit)="resetPassword(loginForm)" #loginForm="ngForm">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'forgotten-password-page-username:auth' | translate }}</label>
              <input type="text" class="form-control auth-inp" required [(ngModel)]="formData.username" name="username" #username="ngModel"
                id="user-login-username" placeholder="Username" [readonly]="loading" required>
              <div class="inp-error" *ngIf="(username.dirty || username.touched) && !username.valid">
                {{ 'forgotten-password-page-invalid-username:auth' | translate }}
              </div>
            </div>
            <button class="btn btn-primary btn-block btn-lg mt-2" type="submit" [disabled]="loading">{{ 'forgotten-password-page-button:auth' | translate }}</button>
            <p class="text-center mt-2">
              <a href="#" (click)="login()">{{ 'forgotten-password-page-back:auth' | translate }}</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>