<div>
  <form method="post" enctype="multipart/form-data">
    <input #inp style="display:none;" type="file" (change)="fileChange($event)" placeholder="Upload file">
  </form>

  <ch-image-view (clicked)="triggerUpload()" [resourceId]="resourceId"></ch-image-view>
</div>