<ch-breadcrumb [parts]="[texts.dashboard]"></ch-breadcrumb>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'filters:listing' | translate }}
      <button type="button" class="btn btn-default pull-right">{{ 'clear-all-filters:listing' | translate }}</button>
    </h3>
  </div>
  <div class="panel-body">
    {{ 'no-results-available:listing' | translate }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'users-title:dashboard' | translate : globalStats }}</h3>
  </div>
  <div class="panel-body">
    <div class="loading-cont" *ngIf="statsLoading">
      <div class="loading-spinner"></div>
    </div>
    <div *ngIf="!statsLoading">
      <div class="col-sm-3 card-small">
        <div class="card card-inverse card-important bg-primary">
          <div class="card-body text-center">
            <a class="text-white" (click)="statClick()" style="text-decoration: none;">
              <div class="display-4 font-weight-bold">{{ globalStats.registered }}</div>
              <div class="text-uppercase font-weight-bold">{{ 'users-registered:dashboard' | translate }}</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 card-small">
        <div class="card card-inverse card-important bg-primary">
          <div class="card-body text-center">
            <a class="text-white" (click)="statClick()" style="text-decoration: none;">
              <div class="display-4 font-weight-bold">{{ globalStats.active }}</div>
              <div class="text-uppercase font-weight-bold">{{ 'users-active:dashboard' | translate }}</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 card-small">
        <div class="card card-inverse card-important bg-primary">
          <div class="card-body text-center">
            <a class="text-white" (click)="statClick()" style="text-decoration: none;">
              <div class="display-4 font-weight-bold">{{ globalStats.approved }}</div>
              <div class="text-uppercase font-weight-bold">{{ 'users-approved:dashboard' | translate }}</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 card-small">
        <div class="card card-inverse card-important bg-primary">
          <div class="card-body text-center">
            <a class="text-white" (click)="statClick()" style="text-decoration: none;">
              <div class="display-4 font-weight-bold">{{ globalStats.blocked }}</div>
              <div class="text-uppercase font-weight-bold">{{ 'users-blocked:dashboard' | translate }}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>