<button #button type="button" (click)="onClick($event)" class="{{ targetClass }}" [disabled]="disabled">
  <span *ngIf="!loading" style="width: initial;">{{ text }}</span>
  <span *ngIf="loading"><div [ngStyle]="{ 'width.px': buttonHeight, 'height.px': buttonHeight }" class="loading-spinner"></div></span>
</button>
