@body-bg: #e1e6eb;
@white:    #fff;

@primaryColor: #54af54;
@primaryLightColor: #08538c;

@brand-primary:         #000;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #8D2C24;

@white: #fff;
@sidebar-bg: #b7b9bc;

@footer-color: #bcc4cc;
@footer-background: #6d7e8f;

.btn-shadow-effect {
  box-shadow: 0px 3px 2px 0px rgba(53, 52, 52, 0.25);
}

.primary-background {
  background: @primaryColor;
}

.default-btn-properties {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: box-shadow .15s, margin-top .15s, -webkit-transform .15s;
  transition: box-shadow .15s, margin-top .15s, -webkit-transform .15s;
  border: none;
  &:hover {
    .btn-shadow-effect();
  }

}

.primary-button {
  background: #444444;
  .default-btn-properties();
  &:not(.normal) {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }
}

.primary-button-table {
  border: 2px solid #444444;
  background: none;
  padding: 4px 15px 3px;
  color: #444444;
  transition: border .15s, background-color .15s, color .15s, -webkit-transform .15s;
  &:hover {
    color: #fff;
    background-color: #444444;
  }
}

