.generate-mt(4);
.generate-mt(@baseSize, @i: 0) when (@i =< 5) {
  .mt-@{i} {
    margin-top: (@i * @baseSize) * 1px !important;
  }

  .generate-mt(@baseSize, (@i + 1));
}

.generate-mb(4);
.generate-mb(@baseSize, @i: 0) when (@i =< 5) {
  .mb-@{i} {
    margin-bottom: (@i * @baseSize) * 1px !important;
  }

  .generate-mb(@baseSize, (@i + 1));
}

.generate-ml(4);
.generate-ml(@baseSize, @i: 0) when (@i =< 5) {
  .ml-@{i} {
    margin-left: (@i * @baseSize) * 1px !important;
  }

  .generate-ml(@baseSize, (@i + 1));
}

.generate-mr(4);
.generate-mr(@baseSize, @i: 0) when (@i =< 5) {
  .mr-@{i} {
    margin-right: (@i * @baseSize) * 1px !important;
  }

  .generate-mr(@baseSize, (@i + 1));
}

.generate-mx(4);
.generate-mx(@baseSize, @i: 0) when (@i =< 5) {
  .mx-@{i} {
    margin-left: (@i * @baseSize) * 1px !important;
    margin-right: (@i * @baseSize) * 1px !important;
  }

  .generate-mx(@baseSize, (@i + 1));
}


.generate-pt(4);
.generate-pt(@baseSize, @i: 0) when (@i =< 5) {
  .pt-@{i} {
    padding-top: (@i * @baseSize) * 1px !important;
  }

  .generate-pt(@baseSize, (@i + 1));
}

.generate-pb(4);
.generate-pb(@baseSize, @i: 0) when (@i =< 5) {
  .pb-@{i} {
    padding-bottom: (@i * @baseSize) * 1px !important;
  }

  .generate-pb(@baseSize, (@i + 1));
}

.generate-pl(4);
.generate-pl(@baseSize, @i: 0) when (@i =< 5) {
  .pl-@{i} {
    padding-left: (@i * @baseSize) * 1px !important;
  }

  .generate-pl(@baseSize, (@i + 1));
}

.generate-pr(4);
.generate-pr(@baseSize, @i: 0) when (@i =< 5) {
  .pr-@{i} {
    padding-right: (@i * @baseSize) * 1px !important;
  }

  .generate-pr(@baseSize, (@i + 1));
}

.generate-px(4);
.generate-px(@baseSize, @i: 0) when (@i =< 5) {
  .px-@{i} {
    padding-left: (@i * @baseSize) * 1px !important;
    padding-right: (@i * @baseSize) * 1px !important;
  }

  .generate-px(@baseSize, (@i + 1));
}

.mx-auto {
  margin: auto;
}

.generate-display(5);
.generate-display(@baseSize, @i: 10, @j: 1) when (@i > 0) {
  .display-@{j} {
    font-size: (@i * @baseSize) * 1px !important;
    font-weight: bold;
    line-height: 1.2;
  }

  .generate-display(@baseSize, (@i - 1), (@j + 1));
}
