//
// Base styles
//
@white: #fff;
@black: #000;

@border-width: 1;
@border-radius: 8;
@grid-gutter-width: 30px;

@card-spacer-y:                     20px;
@card-spacer-x:                     20px;
@card-border-width:                 @border-width;
@card-border-radius:                @border-radius;
@card-border-color:                 rgba(0, 0, 0, .125);
@card-inner-border-radius:          calc(@card-border-radius - @card-border-width);
@card-cap-bg:                       rgba(0, 0, 0, .03);
@card-bg:                           @white;

@card-img-overlay-padding:          1.25rem;

@card-group-margin:                 (@grid-gutter-width / 2);
@card-deck-margin:                  @card-group-margin;

@card-columns-count:                3;
@card-columns-gap:                  1.25rem;
@card-columns-margin:               @card-spacer-y;

@card-pos-len: 15px;

.border-radius(@radius) {
  border-radius: @radius;
}

.border-top-radius(@radius) {
  border-top-left-radius: @radius;
  border-top-right-radius: @radius;
}

.border-right-radius(@radius) {
  border-top-right-radius: @radius;
  border-bottom-right-radius: @radius;
}

.border-bottom-radius(@radius) {
  border-bottom-right-radius: @radius;
  border-bottom-left-radius: @radius;
}

.border-left-radius(@radius) {
  border-top-left-radius: @radius;
  border-bottom-left-radius: @radius;
}



.hover(@content) {
  &:hover { @content(); }
}

.card-small {
  padding: 0px 10px
}

.font-weight-bold {
  font-weight: bold;
}

.text-white {
  color: @white !important;
}

.card-left {
  padding-right: @card-pos-len;
}

.card-right {
  padding-left: @card-pos-len;
}

.card-mid {
  padding-left: @card-pos-len;
  padding-right: @card-pos-len;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: @card-bg;
  background-clip: border-box;

  .no-items-found {
    margin: 20px;
  }

  // border: @card-border-width solid @card-border-color;
  .border-radius(@card-border-radius);

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group:first-child {
    .list-group-item:first-child {
      .border-top-radius(@card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      .border-bottom-radius(@card-border-radius);
    }
  }
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: @card-spacer-x;
}

.card-title {
  margin-bottom: @card-spacer-y;
}

.card-subtitle {
  margin-top: -(@card-spacer-y / 2);
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  .hover({
    text-decoration: none;
  });

  + .card-link {
    margin-left: @card-spacer-x;
  }
}

//
// Optional textual caps
//

.card-header {
  padding: 10px 15px;
  margin-bottom: 0;
  background-color: #252d33;
  color: #fff;

  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }
}

.card-footer {
  padding: @card-spacer-y @card-spacer-x;
  background-color: @card-cap-bg;

  &:last-child {
    .border-radius(0 0 @card-inner-border-radius @card-inner-border-radius);
  }
}


//
// Header navs
//

.card-header-tabs {
  margin-right: -(@card-spacer-x / 2);
  margin-bottom: -@card-spacer-y;
  margin-left: -(@card-spacer-x / 2);
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -(@card-spacer-x / 2);
  margin-left: -(@card-spacer-x / 2);
}

// Card image
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: @card-img-overlay-padding;
}

.card-img {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  .border-radius(@card-inner-border-radius);
}

// Card image caps
.card-img-top {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  .border-top-radius(@card-inner-border-radius);
}

.card-img-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  .border-bottom-radius(@card-inner-border-radius);
}


// Card deck

.card-deck {
  display: flex;
  flex-direction: column;

  .card {
    margin-bottom: @card-deck-margin;
  }
    flex-flow: row wrap;
    margin-right: -@card-deck-margin;
    margin-left: -@card-deck-margin;

    .card {
      display: flex;
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: @card-deck-margin;
      margin-bottom: 0; // Override the default
      margin-left: @card-deck-margin;
    }
}


//
// Card groups
//

.card-group {
  display: flex;
  flex-direction: column;

  // The child selector allows nested `.card` within `.card-group`
  // to display properly.
  > .card {
    margin-bottom: @card-group-margin;
  }

  // @include media-breakpoint-up(sm) {
    flex-flow: row wrap;
    // The child selector allows nested `.card` within `.card-group`
    // to display properly.
    > .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
        &:first-child {
          .border-right-radius(0);

          .card-img-top,
          .card-header {
            border-top-right-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            border-bottom-right-radius: 0;
          }
        }

        &:last-child {
          .border-left-radius(0);

          .card-img-top,
          .card-header {
            border-top-left-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            border-bottom-left-radius: 0;
          }
        }

        &:only-child {
          .border-radius(@card-border-radius);

          .card-img-top,
          .card-header {
            .border-top-radius(@card-border-radius);
          }
          .card-img-bottom,
          .card-footer {
            .border-bottom-radius(@card-border-radius);
          }
        }

        &:not(:first-child):not(:last-child):not(:only-child) {
          .border-radius(0);

          .card-img-top,
          .card-img-bottom,
          .card-header,
          .card-footer {
            .border-radius(0);
          }
        }
    }
}


//
// Columns
//

.card-columns {
  .card {
    margin-bottom: @card-columns-margin;
  }

  column-count: @card-columns-count;
  column-gap: @card-columns-gap;

  .card {
    display: inline-block; // Don't let them vertically span multiple columns
    width: 100%; // Don't let their width change
  }
}

.card {
  .page-bottom-container {
    padding: 15px;
  }
}
