@import "_bootstrap-variables.less";

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

.btn-styles(@color: @primaryLightColor) {
  margin: -5px 0;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  &:not(.active) {
    color: @primaryLightColor !important;
    background: #fff;
  }
  &.active {
    color: #fff !important;
    background: @primaryLightColor;
  }
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;
  transition: box-shadow .15s, margin-top .15s, -webkit-transform .15s;
  i {
    margin-right: 10px;
  }
  &:hover {
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.3);
    .btn-shadow-effect();
  }
}

.btn-table-styles {
  font-size: 12px;
  line-height: 15px;
  padding: 6px 15px 5px;
  font-weight: 600;

  &.btn-primary {
    .primary-button-table();
  }
  &[disabled] {
    box-shadow: none;
  }

}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.numeric {
  font-family: 'Roboto', sans-serif;
}

.vert-offset();
.vert-offset(@i: 0) when (@i =< 12) {
  .vert-offset-top-@{i} {
    margin-top: @i * 1em;
  }

  .vert-offset-bottom-@{i} {
    margin-bottom: @i * 1em;
  }

  .vert-offset-@{i} {
    margin-top: @i * 1em;
    margin-bottom: @i * 1em;
  }

  .vert-offset((@i + 1));
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid darken(@body-bg,10);
}

main {
  margin-bottom: 50px;
}

/*
Login
 */

.login-form {
  margin: 20% 0px;
}

/*
Cards
*/

.form-group label {
  font-weight: 400;
}

.panel:not(.note-editor) {
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 12px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 12px 0 rgba(0, 0, 0, 0.15);
  .panel-heading {
    .panel-title {
      font-weight: bold;
      font-size: 16px;
    }
    padding: 13px 16px;
    margin-bottom: 0;
    background-color: #252d33;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.panel:not(.note-editor) {
  border-radius: 8px;
  .panel-heading {
    border-radius: 8px 8px 0px 0px;
    .btn {
      .btn-styles();
      margin-left: 5px;
      margin-top: -8px;
    }
  }
  .panel-body {
    .btn {
      &.panel-btn {
        .btn-styles();
        .btn-table-styles();
        margin-right: 10px;
      }
    }
  }
}

.card {
  margin-bottom: 20px;
  border-radius: 8px;
  border-color: transparent;
  box-shadow: 0px 8px 12px 0 rgba(0, 0, 0, 0.15);
  &.bg-primary {
    background-color: #252d33;
  }

  .card-header {
    font-weight: bold;
    font-size: 16px;
    .btn {
      .btn-styles();
      margin-left: 5px;
    }
  }
  .table {
    thead {
      background-color: rgb(247, 247, 249);
      .sortable {
        cursor: pointer;
        position: relative;
        i {
          opacity: .5;
          position: absolute;
          top: 0;
          right: -14px;
        }
      }
    }
    td, th {
      vertical-align: middle;
      white-space: nowrap;
      .btn {
        .btn-table-styles();
      }
    }
    td {
      div {
        &:not(.btns-cont) {
          max-width: 300px;
        }
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    margin-bottom: 0;
    a {
      margin: 0 5px;
    }
    .btn-outline-primary {
    }
  }
  h2 {
    font-size: 1.6rem;
    margin: 2rem 0 1rem;
  }
  .edit-select {
    .bootstrap-select {
      width: 100% !important;
    }
  }
  .edit-select:not {
    .btn {
      border-width: 2px;
      display: inline-block;
      border-radius: 30px;
      .default-btn-properties();
  
      &.disabled, &:disabled {
        // background: none;
      }
      &.btn-primary {
        .primary-button();
      }
      &.btn-block {
        padding: 15px;
      }
    }
  }
}

pre {
  border: 1px solid darken(@body-bg, 20%);
  background: darken(@body-bg, 5%);
  padding: 13px;
}

.proof-item {
  margin-bottom: 15px;
}

.pagination {
  .page-item {
    &:not(.disabled) {
      .page-link {
        cursor: pointer;
      }
    }
  }
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
}

.label-blue {
  background-color: #337ab7;
}
