@import "_bootstrap-variables.less";

//
// Footer
//

footer {
  border-top: 1px solid #999;
  padding-top: 1rem;
  background: @footer-background;
  color: @footer-color;

  a {
    font-weight: 500;
    color: @footer-color;

    &:hover,
    &:focus {
      color: lighten(@footer-color,20);
    }
  }

  p {
    margin-bottom: 0;
  }
  .text-muted {
    opacity: .6;
    color: @footer-color !important;
  }

  .newsletter {
    position: relative;
    .btn {
      position: absolute;
      top: 0;
      right: 0;
      background: none;
    }
  }

  a {
    font-weight: bold;
    .fa {
      font-size: 1.5rem;
    }
  }
}

.navbar-footer {
  padding-left: 0;
  margin-bottom: 1rem;

  li {
    display: inline-block;


    a {
      font-weight: bold;
      &:hover {
      }
    }
    + li {
      margin-left: 1rem;
    }
  }
}
