@import "_bootstrap-variables.less";

.form-control,.form-control:focus {
  border: 1px solid #bcc4cc;
  border-radius: 0.25rem;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.form-control:focus {
  border: 1px solid darken(#bcc4cc,50);
}

.action-buttons {
  // text-align: center;
  .btn {
    border-width: 2px;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 0 10px;
    font-weight: bold;
    .default-btn-properties();

    &.disabled, &:disabled {
      background: none;
    }
    &.btn-primary {
      .primary-button();
    }
    &.btn-secondary {
      background: white;
      color: theme-color("primary");
    }
    &.btn-block {
      padding: 15px;
    }
  }
}

.login-cont {
  width: 500px;
}

.offer-establishment-items-cont {
  margin-top: 10px;
  .type-item {
    background-color: @brand-info;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    display: inline-block;
  }
}
