@import "_bootstrap-variables.less";

@loader-color:              @primaryLightColor;
@loader-size:                  56px;
@loader-height:                20px;
@loader-border-size:            4px;
@loader-gap:                   12px;
@loader-animation-duration:      1s;

.ifMiddle(@a) when (@a = middle) {
  top: 50%;
  margin: -@size / 2 * 1px auto 0;
}

.ifCenter(@a) when (@a = center) {
  margin: 0 auto;
}

.loader-rotate {
  @keyframes loader-rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.loader02(
  @size: @loader-size,
  @color: @loader-color,
  @border-size: @loader-border-size,
  @duration: @loader-animation-duration,
  @align: null
) {
  width: @size;
  height: @size;
  border: @border-size solid rgba(red(@color), green(@color), blue(@color), 0.25);
  border-top-color: @color;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate @duration linear infinite;
  .ifCenter(@align);
  .ifMiddle(@size);
  .loader-rotate();
}

.loading-spinner {
  .loader02()
}

body .loading {
  position: fixed;
  background: rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  .loading-spinner {
    .loader02(@loader-size * 1.5 ,@loader-color,@loader-border-size *1.5,@loader-animation-duration,"middle")
  }
}

.spinner-page-center-cont {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 100px;
  margin-top: -100px;
  margin-left: -400px;
  line-height: 100px;
  text-align: center;
  .loading-spinner {
    margin: auto;
  }
}
