.modal {
  .modal-header {
    border-bottom: 0;
    h5, .modal-title {
      font-size: 1.4rem;
    }
  }
  .modal-footer {
    border-top: 0;
    .btn:not(.default-btn) {
      padding: 15px 30px;
      text-transform: uppercase;
      font-weight: bold;

      &.btn-secondary {
        background: none;
        border: 1px solid theme-color('secondary');
        color: theme-color('secondary');
        box-shadow: none;
      }
    }
  }
}