
/*

HEADER NAVIGATION

 */
@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "_bootstrap-variables.less";

nav .navbar-brand {
  color: #fff;
  font-family: "Raleway", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

nav.navbar {
  font-weight: bold;
  border: 0px;

  ul {
    li.btn-item {
      // padding: 10px 15px;
    }
  }

  .btn.btn-primary {
    color: #ffffff;
    background: transparent none;
    padding: 0.25rem 1.2rem;

    border-radius: 25px !important;
    border: 2px solid #ffffff;
    font-weight: bold;
  }
  &.navbar-inverse {
    .nav-link {
      font-size: 13px;
      color: white;
    }
    background-color: #252d33;
  }
}

.navbar {
  min-height: 80px;
  .nav-img {
    margin: 5px 0px;
    margin-left: 10px;
  }
}

.navbar ul > li {
  padding: 27px 10px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}