@import "_bootstrap-variables.less";

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 81px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 14px;
  overflow-x: hidden;
  overflow-y: auto;
  background: @sidebar-bg;
  .nav {
    margin-bottom: 20px;
    & > li > a {
      padding: 7px 14px;
      margin-bottom: 1px;
    }
    & > li > .nav > li > a {
      display: block;
      padding: 4px 25px;
      font-size: 14px;
      color: #000;
    }
  }
  .nav-item {
    width: 100%;
    + .nav-item {
      margin-left: 0;
    }
    a {
      color: #000;
      font-size: 16px;
    }
  }
  .nav-link {
    &:hover:not(.no-hover),
    &.active,
    &.active:hover {
      border-radius: 5px;
      background-color: #252d33;
      color: #fff !important;
    }
    &.no-hover:hover {
      background-color: @sidebar-bg;
    }
  }

  .search {
    position: relative;
    padding: 0 15px 1rem;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    .form-control {
      width: 100%;
    }
  }
  .btn {
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    display: block;
    border-radius: 25px;
    border:none;
    color: #ffffff !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: box-shadow .15s, margin-top .15s, -webkit-transform .15s;
    transition: box-shadow .15s, margin-top .15s, -webkit-transform .15s;
    background: #444444;
  }
  .userinfo {
    padding: 10px 0;
  }
}
