@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "_bootstrap-variables.less";

@import "_custom.less";
@import "_sidebar.less";
@import "_forms.less";
@import "_navbar.less";
@import "_footer.less";
@import "_modals.less";
@import "_card.less";
@import "_bootstrap_polyfill.less";
@import "_loading-spinner.less";

main.app-body {
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

nav .navbar-header .navbar-brand {
  color: #fff;
}

.loading-cont {
  margin: 20px;
  .loading-spinner {
    margin: auto;
  }
}

div.bootstrap-select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btns-cont {
  white-space: initial !important;
  text-overflow: initial !important;
  overflow: initial !important;
}

.btns-cont button {
  margin-bottom: 5px;
}