<h1>{{ 'admin-users:sidebar' | translate }}</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'filters:listing' | translate }}</h3>
  </div>
  <div class="panel-body">
    <div class="table-nav-menu">
      <ch-search-input (search)="search($event)" value="{{ pageParams.search }}"></ch-search-input>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">{{ 'admin-users:sidebar' | translate }} <span *ngIf="!loading">({{ 'total' | translate:totalItemsO }})</span>
    <button type="button" (click)="addNew()" class="btn btn-default pull-right">{{ 'add:listing' | translate }}</button>
  </div>
  <div class="card-block">
    <div class="table-responsive">

      <div class="loading-cont" *ngIf="loading">
        <div class="loading-spinner"></div>
      </div>
      <p class="no-items-found" *ngIf="!loading && 0 === items.length">
        {{ 'no-results:listing' | translate }}
      </p>

      <table class="table table-hover" *ngIf="!loading && 0 < items.length">
        <thead>
          <tr>
            <th class="col-md-1"></th>
            <th class="col-md-2 sortable">
              <span class="col-name">{{ 'name:listing:table' | translate }}
                <ch-sortable [column]="'NAME'" [pageParams]="pageParams" (sort)="onSort($event)"></ch-sortable>
              </span>
            </th>
            <th class="col-md-2 sortable">
              <span class="col-name">{{ 'username:listing:table' | translate }}
                <ch-sortable [column]="'USERNAME'" [pageParams]="pageParams" (sort)="onSort($event)"></ch-sortable>
              </span>
            </th>
            <th class="sortable">
              <span class="col-name">{{ 'last-login:listing:table' | translate }}
                <ch-sortable [column]="'LAST_LOGIN'" [pageParams]="pageParams" (sort)="onSort($event)"></ch-sortable>
              </span>
            </th>
            <th class="col-md-1">{{ 'actions:listing' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items;let i = index;">
            <td></td>
            <td>{{ item.name }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.lastLogin | dateFormat }}</td>
            <td>
              <a class="btn btn-primary" href="#" (click)="editUser(item.id)">{{ 'edit:listing' | translate }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <div class="page-bottom-container action-buttons">
    <ch-pagination *ngIf="!loading" [totalItems]="totalItems" [pageNumber]="pageParams.pageNumber" [pageSize]="pageParams.pageSize"
      (pageChanged)="onPageChanged($event)"></ch-pagination>
  </div>
</div>