<ch-loader [loading]="isInitialLoading"></ch-loader>
<div [ngStyle]="{'display': (isInitialLoading ? 'none' : 'block')}">
  <ch-breadcrumb [parts]="[texts.clients, clientData.name]"></ch-breadcrumb>
  <form #form="ngForm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-9 pr-5">
          <div class="card mb-9">
            <div class="card-header">{{ 'client-details:form' | translate }}</div>
            <div class="card-body">
              <div class="form-group">
                <label for="member-edit-name">{{ 'name:listing:table' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="clientData.name" name="name" #name="ngModel" class="form-control" id="member-edit-name"
                  required [readonly]="loading" [disabled]="true">
              </div>
              <div class="form-group">
                <label for="member-edit-email">{{ 'email:listing:table' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="clientData.email" name="email" #email="ngModel" class="form-control"
                  id="member-edit-email" required [readonly]="loading" [disabled]="true">
              </div>

              <div class="form-group">
                <label for="member-edit-email">{{ 'gender:edit' | translate }}</label>
                <div class="form-check">
                  <input id="genderMale" type="radio" name="gender" [value]="'MALE'" [(ngModel)]="clientData.gender" #e1="ngModel" [disabled]="true">
                  <label class="form-check-label" for="genderMale">{{ 'male:edit' | translate }}</label>
                </div>
                <div class="form-check">
                  <input id="genderFemale" type="radio" name="gender2" [value]="'FEMALE'" [(ngModel)]="clientData.gender" #e2="ngModel" [disabled]="true">
                  <label class="form-check-label" for="genderFemale">{{ 'female:edit' | translate }}</label>
                </div>
              </div>

              <div class="form-group">
                <label for="member-edit-email">{{ 'blocked:edit' | translate }}</label>
                <div class="form-check">
                  <input id="isBlockedTrue" type="radio" name="isBlocked" [value]="true" [(ngModel)]="clientData.isBlocked" #e1="ngModel" [disabled]="true">
                  <label class="form-check-label" for="isBlockedTrue">{{ 'true:edit' | translate }}</label>
                </div>
                <div class="form-check">
                  <input id="isBlockedFalse" type="radio" name="isBlocked2" [value]="false" [(ngModel)]="clientData.isBlocked" #e2="ngModel"
                    [disabled]="true">
                  <label class="form-check-label" for="isBlockedFalse">{{ 'false:edit' | translate }}</label>
                </div>
              </div>

              <div class="form-group">
                <label for="doctor-edit-profession">{{ 'profile-image:form' | translate }}</label>
                <div *ngIf="clientData && !imageData">{{ 'no-profile-image:form' | translate }}</div>
                <ch-file-view *ngIf="imageData && !loading" [data]="imageData"></ch-file-view>
              </div>

              <div class="form-group">
                <label for="doctor-edit-profession">{{ 'cv:form' | translate }}</label>
                <div *ngIf="clientData && !cvData">{{ 'no-cv:form' | translate }}</div>
                <ch-file-view *ngIf="cvData && !loading" [data]="cvData"></ch-file-view>
              </div>

              <div style="margin-top: 40px;">
                <span class="btn-right">
                  <button type="button" class="btn btn-secondary" (click)="cancel()" [disabled]="loading">{{ 'back:edit' | translate }}</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="card mb-9">
            <div class="card-header">{{ 'statistics:edit' | translate }}</div>
            <div class="card-body">
              <div class="panel-info">
                <p *ngIf="!loaded">...</p>
                <div *ngIf="loaded">
                  <div class="card card-inverse card-important bg-primary" style="margin-bottom: 15px;">
                    <div class="card-body text-center">
                      <a class="text-white" style="text-decoration: none;">
                        <div class="display-6 font-weight-bold">{{ clientData.lastLogin | dateFormat : 'datetime' }}</div>
                        <div class="text-uppercase font-weight-bold">{{ 'last-login:edit' | translate }}</div>
                      </a>
                    </div>
                  </div>
                  <div class="card card-inverse card-important bg-primary" style="margin-bottom: 15px;">
                    <div class="card-body text-center">
                      <a class="text-white" style="text-decoration: none;">
                        <div class="display-6 font-weight-bold">{{ clientData.createdAt | dateFormat : 'datetime' }}</div>
                        <div class="text-uppercase font-weight-bold">{{ 'registration-date:edit' | translate }}</div>
                      </a>
                    </div>
                  </div>
                  <div class="card card-inverse card-important bg-primary" style="margin-bottom: 15px;">
                    <div class="card-body text-center">
                      <a class="text-white" style="text-decoration: none;">
                        <div class="display-6 font-weight-bold">{{ clientData.lastPasswordChange | dateFormat : 'datetime' }}</div>
                        <div class="text-uppercase font-weight-bold">{{ 'last-password-change:edit' | translate }}</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>