<h1>{{ 'static-pages:sidebar' | translate }}</h1>

<div class="card">
  <div class="card-header">{{ 'static-pages:sidebar' | translate }}
    <button type="button" (click)="addNew()" class="btn btn-default pull-right">{{ 'add:listing' | translate }}</button>
  </div>
  <div class="card-block">
    <div class="table-responsive">

      <div class="loading-cont" *ngIf="loading">
        <div class="loading-spinner"></div>
      </div>
      <p class="no-items-found" *ngIf="!loading && 0 === items.length">
        {{ 'no-results:listing' | translate }}
      </p>

      <table class="table table-hover" *ngIf="!loading && 0 < items.length">
        <thead>
          <tr>
            <th>
              <span class="col-name">{{ 'name:listing:table' | translate }}</span>
            </th>
            <th>
              <span class="col-name">{{ 'title:listing:table' | translate }}</span>
            </th>
            <th>{{ 'actions:listing:table' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items;let i = index;">
            <td>{{ item.name }}</td>
            <td>{{ item.header }}</td>
            <td class="col-md-1">
              <a class="btn btn-primary" (click)="edit(item.id)">{{ 'edit:listing:table' | translate }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <div class="page-bottom-container action-buttons">
    <ch-pagination *ngIf="!loading" [totalItems]="totalItems" [pageNumber]="pageParams.pageNumber" [pageSize]="pageParams.pageSize"
      (pageChanged)="onPageChanged($event)"></ch-pagination>
  </div>
</div>