<select #inp class="selectpicker ch-header-item" [ngClass]="{'show-tick': showClass}" data-live-search="true" (change)="itemSelected($event)">
  <option *ngFor="let item of items" value="{{ item.id }}" data-token="" [selected]="value == item.id">{{ item.value }}</option>
</select>
