<ch-loader [loading]="isInitialLoading"></ch-loader>
<div [ngStyle]="{'display': (isInitialLoading ? 'none' : 'block')}">
  <ch-breadcrumb [parts]="[initialPageBreadcrumbName, editMode ? userName : texts.addNew]"></ch-breadcrumb>

  <form (ngSubmit)="edit(form)" #form="ngForm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-9 pr-5">
          <div class="card mb-9">
            <div class="card-header">{{ 'admin-user-details:form' | translate }}</div>
            <div class="card-body">
              <div class="form-group">
                <label for="user-edit-username">{{ 'username:listing:table' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="userData.username" name="username" #username="ngModel" class="form-control"
                  id="user-edit-username" required [readonly]="loading">
                <small class="text-danger" *ngIf="(username.touched || username.dirty) && !username.valid">
                  {{ 'username-invalid:form' | translate }}
                </small>
              </div>
              <div class="form-group">
                <label for="user-edit-name">{{ 'name:listing:table' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="userData.name" name="name" #name="ngModel" class="form-control" id="user-edit-name"
                  required [readonly]="loading">
                <small class="text-danger" *ngIf="(name.touched || name.dirty) && !name.valid">
                  {{ 'name-invalid:form' | translate }}
                </small>
              </div>
              <div class="form-group">
                <label for="user-edit-email">{{ 'email:listing:table' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="userData.email" name="email" #email="ngModel" class="form-control" id="user-edit-email"
                  required [readonly]="loading">
                <small class="text-danger" *ngIf="(email.touched || email.dirty) && !email.valid">
                  {{ 'email-invalid:form' | translate }}
                </small>
              </div>

              <div class="form-group" *ngIf="!isLoggedUser">
                <label for="user-role">{{ 'user-role:edit' | translate }}</label>
                <select id="user-role" class="form-control" [(ngModel)]="userData.role" name="role" #role="ngModel" required>
                  <option *ngFor="let option of userRoles" [value]="option.value">
                    {{ option.name }}
                  </option>
                </select>
                <small class="text-danger" *ngIf="(role.touched || role.dirty) && !role.valid">
                  {{ 'user-role-invalid:form' | translate }}
                </small>
              </div>

              <div style="margin-top: 40px;">
                <button *ngIf="editMode && isLoggedUser" type="button" class="btn btn-info" (click)="resetPassword(username.dirty)" [disabled]="loading">{{ 'change-password:edit' | translate }}</button>
                <button *ngIf="editMode && !isLoggedUser" type="button" class="btn btn-danger" (click)="delete()" [disabled]="loading">{{ 'delete:edit' | translate }}</button>
                <span *ngIf="editMode && !isLoggedUser" class="btn-mid">
                  <button type="button" class="btn btn-warning" (click)="block()" [disabled]="loading">{{ userData.isBlocked ? 'Отблокирай' : 'Блокирай' }}</button>
                </span>
                <span class="btn-right">
                  <button type="button" class="btn btn-secondary" (click)="cancel()" [disabled]="loading">{{ 'cancel:edit' | translate }}</button>
                  <ch-loader-button (clicked)="edit(form)" text="{{ texts.save }}" className="btn btn-primary" [loading]="formLoading" [disabled]="loading"></ch-loader-button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3" *ngIf="editMode">
          <div class="card mb-9">
            <div class="card-header">{{ 'statistics:edit' | translate }}</div>
            <div class="card-body">
              <div class="panel-info">
                <p *ngIf="!loaded">...</p>
                <div *ngIf="loaded">
                  <div class="card card-inverse card-important bg-primary" style="margin-bottom: 15px;">
                    <div class="card-body text-center">
                      <a class="text-white" style="text-decoration: none;">
                        <div class="display-6 font-weight-bold">{{ userData.lastLogin | dateFormat : 'datetime' }}</div>
                        <div class="text-uppercase font-weight-bold">{{ 'last-login:edit' | translate }}</div>
                      </a>
                    </div>
                  </div>
                  <div class="card card-inverse card-important bg-primary">
                    <div class="card-body text-center">
                      <a class="text-white" style="text-decoration: none;">
                        <div class="display-6 font-weight-bold">{{ userData.createdAt | dateFormat : 'datetime' }}</div>
                        <div class="text-uppercase font-weight-bold">{{ 'registration-date:edit' | translate }}</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>