<ch-breadcrumb [parts]="breadcrumb" (goTo)="breadcrumbGoTo($event)"></ch-breadcrumb>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'filters:listing' | translate }}</h3>
  </div>
  <div class="panel-body">
    <div class="table-nav-menu">
      <ch-search-input (search)="searchByText($event)" value="{{ pageParams.search }}" placeholder="{{ searchText }}"></ch-search-input>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">{{ 'locations:sidebar' | translate }} <span *ngIf="!loading">({{ 'total' | translate:totalItemsO }})</span>
    <button type="button" (click)="addNew()" class="btn btn-default pull-right">{{ 'add:listing' | translate }}</button>
  </div>
  <div class="card-block">
    <div class="table-responsive">

      <div class="loading-cont" *ngIf="loading">
        <div class="loading-spinner"></div>
      </div>
      <p class="no-items-found" *ngIf="!loading && 0 === items.length">
        {{ 'no-results:listing' | translate }}
      </p>

      <table class="table table-hover" *ngIf="!loading && 0 < items.length">
        <thead>
          <tr>
            <th class="sortable">
              <span class="col-name">{{ 'name:listing:table' | translate }}
                <ch-sortable [column]="'NAME'" [pageParams]="pageParams" (sort)="onSort($event)"></ch-sortable>
              </span>
            </th>
            <th>{{ 'actions:listing' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items;let i = index;">
            <td>
              <a href (click)="goToSubroute(item.id)">{{ item.nameBg }}</a>
            </td>
            <td class="col-md-1">
              <a class="btn btn-primary" (click)="edit(item.id)">{{ 'edit:listing' | translate }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <div class="page-bottom-container action-buttons">
    <ch-pagination *ngIf="!loading" [totalItems]="totalItems" [pageNumber]="pageParams.pageNumber" [pageSize]="pageParams.pageSize"
      (pageChanged)="onPageChanged($event)"></ch-pagination>
  </div>
</div>