<li [ngStyle]="{ display: (item.hidden ? 'none': 'block') }">
  <input type="checkbox" class="x" id="{{ item.id }}" />
  <i *ngIf="!item.marked && !item.noChildren" class="fa fa-angle-right" aria-hidden="true"></i>
  <i *ngIf="item.marked && !item.noChildren" class="fa fa-angle-down" aria-hidden="true"></i>

  <input *ngIf="!item.isTopLevel" type="checkbox" [checked]="item.checked || item._checked" (change)="onCheck(item.id, $event)" [disabled]="item.disabled" />
  <label for="{{ item.id }}" (click)="check1(item.id, !item.marked)" [ngStyle]="{ color: (item.filter ? 'green' : 'initial') }">{{ item.name }}</label>
  <ul *ngIf="item.children" [ngStyle]="{ display: (item.marked ? 'block' : 'none') }">
    <ch-tree-picker-item *ngFor="let subItem of item.children" [item]="subItem" (selected)="onSelected($event)"></ch-tree-picker-item>
  </ul>
</li>
