<nav class="navbar navbar-main navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button (click)="toggleSideBar()" style="float:none;" class="navbar-toggle collapsed" type="button"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a href="#" (click)="goToDashboard()">
        <img height="80" src="/assets/logo.svg" class="nav-img">
      </a>
      <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="btn-item">
          <a class="btn btn-primary" href="#" (click)="changeLang()">{{ currentLang }}</a>
        </li>
        <li class="btn-item">
          <a class="btn btn-primary" href="#" (click)="editProfile()">{{ 'profile:header' | translate }}</a>
        </li>
        <li class="btn-item">
          <a class="btn btn-primary" href="#" (click)="logout()">{{ 'logout:header' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
