<div class="ch-timepicker-item">
  <div class="input-group date" chDatetimepicker [value]="value" (changed)="change($event)">
    <input type='text' class="form-control" value="{{ value }}"/>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-time"></span>
    </span>
  </div>
</div>