.login-form-cont {
  width: 400px;
  margin: auto;
  margin-top: 100px;
  background-color: #fff;
  padding: 15px;
}

.auth-btn-cont {
  position: relative;
}

.auth-btn-cont .login-btn {
  position: absolute;
  right: 0px;
}

.auth-group {
  position: relative;
}

.auth-group .auth-inp {
  border: 0px;
  width: 100%;
  padding: 8px;
  padding-left: 8px;
  padding-left: 45px;
  display: block;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.auth-group i {
  height: 100%;
  width: 40px;
  text-align: center;
  position: absolute;
  padding: 8px 10px;
  top: 0px;
  left: 0px;
  transition: background-color, color .5s;
  background-color: #E9EDF0;
  border-radius: 7px 0px 0px 7px;
  border: 1px solid #ccc;
}

.login-form-cont a {
  cursor: pointer;
}

.inp-error {
  color: red;
}
