.admin-right-cont .heading-title {
  margin: 0px;
  margin-bottom: 15px;
}

.admin-cont {
  padding-top: 50px;
  position: relative;
  /* min-height: calc(100vh - 50px); */
  min-height: 100vh;
}

.admin-sidebar-menu {
  background-color: #2a2c30;
  position: absolute;
  /* height: 100%; */
  height: calc(100% - 50px);
  width: 250px;
}

.admin-sidebar-menu ul > li > a {
  padding: 15px 20px;
}

ul.admin-sidebar-nested > li > a {
  padding-left: 40px;
}

.admin-right-cont {
  margin: 20px 20px 20px 270px;
}

ul.admin-sidebar a {
    color: #adafb2;
    font-weight: bold;
    -webkit-transition: border .3s;
    transition: border .3s;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

ul.admin-sidebar a {
  background-color: inherit;
}

ul.admin-sidebar a.menu-link,
ul.admin-sidebar li a:hover {
  background-color: #000;
  color: #fff;
}

ul.admin-sidebar li a:focus {
  background-color: #000;
}

.logout-btn {
  cursor: pointer;
}

div.container {
  width: 100%;
}

.page-bottom-container {
  position: relative;
}

.page-bottom-container .pagination {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0px;
}

input[type="text"].search-inp {
    width: 200px;
    /* height: 20px; */
    padding-right: 50px;
}

input[type="submit"].search-inp {
    color: #000;
    margin-left: -50px;
    height: 25px;
    width: 50px;
    background: transparent;
    border: 0;
    border-left: 1px solid #000;
    -webkit-appearance: none;
}

.not-found {
  text-align: center;
}

.medium-zoom-image {
  z-index: 1070;
}

.medium-zoom-overlay {
  z-index: 1069;
}

/* summernote */
.note-editable {
  font-size: 11px !important;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul.tree, ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tree ul {
  margin-left: 10px;
}

ul.tree li {
  margin: 0;
  padding: 0 7px;
  line-height: 20px;
  color: #369;
  font-weight: bold;
  border-left: 1px solid rgb(100,100,100);
}

ul.tree li:last-child {
  border-left:none;
}

ul.tree li:before {
  position:relative;
  top:-0.3em;
  height:1em;
  width:12px;
  color:white;
  border-bottom: 1px solid rgb(100,100,100);
  content:"";
  display:inline-block;
  left:-7px;
}

ul.tree li:last-child:before {
  border-left: 1px solid rgb(100,100,100);   
}

input:not(:checked) ~ ul { display: none; }

input.x {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input.x ~ ul {
  display: none;
}

input.x:checked ~ ul {
  display: block;
}

.cont {
  position: relative;
  max-height: 400px;
  overflow-y: auto;
}
