.table-nav {
  margin-bottom: 20px;
}

.table-nav .table-nav-title {
  font-size: 20px;
}

.table-nav .table-nav-menu {
  float: right;
}

table.table {
  /* border-top: 1px solid gray;
  border-bottom: 1px solid gray; */
}

table.table td.align-right,
table.table th.align-right {
  text-align: right;
}

table.table .align-right span,
table.table .align-right span {
  margin-right: 40px;
}

table.table>tbody>tr>td,
table.table>tbody>tr>th,
table.table>tfoot>tr>td,
table.table>tfoot>tr>th,
table.table>thead>tr>td,
table.table>thead>tr>th {
  border-top: 1px solid gray;
}

table.table>thead>tr>th {
  border-bottom: 0px;
}

i.sortable {
  float: right;
}

.col-name {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

/* .col-name i {
  position: absolute;
  right: -40px;
  top: 0px;
} */

.ch-checkbox-group {
  display: inline-block;
  /* width: 400px; */
}

.ch-checkbox-group .ch-checkbox-item {
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
}

.ch-checkbox-group .ch-checkbox-item span,
.ch-checkbox-group .ch-checkbox-item input[type="checkbox"] {
  margin: 0px;
  vertical-align: middle;
}

.ch-header-item {
  vertical-align: middle;
  margin-right: 10px;
}

.ch-header-item.fa-file-excel-o {
  color: green;
}
