<div style="padding-bottom: 5px;">
  <input type="text" class="form-control" name="filter" class="form-control" style="width: 200px;" (keydown.enter)="filterLocations($event)">
</div>

<div class="cont">
  <ul class="tree">
    <li *ngFor="let country of items" [ngStyle]="{ display: (country.hidden ? 'none': 'block') }">
      <input type="checkbox" class="x" id="{{ country.id }}" />
      <i *ngIf="country.children && !country.marked && !country.noChildren" class="fa fa-angle-right" aria-hidden="true"></i>
      <i *ngIf="country.children && country.marked && !country.noChildren" class="fa fa-angle-down" aria-hidden="true"></i>

      <input type="checkbox" [checked]="country.checked || country._checked" (change)="ch(country.id, $event)" />
      <label for="{{ country.id }}" (click)="check1(country.id, !country.marked)" [ngStyle]="{ color: (country.filter ? 'green' : 'initial') }">{{ country.name }}</label>
      <ul *ngIf="country.children" [ngStyle]="{ display: (country.marked ? 'block' : 'none') }">
        <li *ngFor="let city of country.children" [ngStyle]="{ display: (city.hidden ? 'none': 'block') }">
          <input type="checkbox" class="x" id="{{ city.id }}" />
          <i *ngIf="city.children && !city.marked && !city.noChildren" class="fa fa-angle-right" aria-hidden="true"></i>
          <i *ngIf="city.children && city.marked && !city.noChildren" class="fa fa-angle-down" aria-hidden="true"></i>

          <input type="checkbox" [checked]="city.checked || city._checked" (change)="ch(city.id, $event)" [disabled]="city.disabled" />
          <label for="{{ city.id }}" (click)="check1(city.id, !city.marked)" [ngStyle]="{ color: (city.filter ? 'green' : 'initial') }">{{ city.name }}</label>
          <ul *ngIf="city.children" [ngStyle]="{ display: (city.marked ? 'block' : 'none') }">
            <li *ngFor="let neigh of city.children" [ngStyle]="{ display: (neigh.hidden ? 'none': 'block') }">
              <input type="checkbox" class="x" id="{{ neigh.id }}" />
              <i *ngIf="neigh.children" class="fa fa-angle-right" aria-hidden="true"></i>
              <i *ngIf="neigh.children" class="fa fa-angle-down" aria-hidden="true"></i>

              <input type="checkbox" [checked]="neigh.checked || neigh._checked" (change)="ch(neigh.id, $event)" [disabled]="neigh.disabled" />
              <label for="{{ neigh.id }}" [ngStyle]="{ color: (neigh.filter ? 'green' : 'initial') }">{{ neigh.name }}</label>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
