<ch-loader [loading]="isInitialLoading"></ch-loader>
<div [ngStyle]="{'display': (isInitialLoading ? 'none' : 'block')}">
  <ch-breadcrumb [parts]="[texts.staticPages, editMode ? pageName : texts.addNew]"></ch-breadcrumb>
  <form (ngSubmit)="edit(form)" #form="ngForm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="card mb-4">
            <div class="card-header">{{ 'static-page-details:form' | translate }}</div>
            <div class="card-body">
              <div class="form-group">
                <label for="page-edit-header">{{ 'title:edit' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="pageData.header" name="header" #header="ngModel" class="form-control"
                  id="page-edit-header" required [readonly]="loading">
                <small class="text-danger" *ngIf="(header.touched || header.dirty) && !header.valid">
                  {{ 'title-invalid:form' | translate }}
                </small>
              </div>
              <div class="form-group">
                <label for="page-edit-title">{{ 'name:listing:table' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="pageData.name" name="title" #title="ngModel" class="form-control" id="page-edit-title"
                  required [readonly]="loading">
                <small class="text-danger" *ngIf="(title.touched || title.dirty) && !title.valid">
                  {{ 'name-invalid:form' | translate }}
                </small>
              </div>
              <div class="form-group">
                <label for="page-edit-description">{{ 'description:edit' | translate }}</label>

                <div *ngIf="!isInitialLoading">
                  <ch-wysiwyg [value]="initialContent" (changed)="contentChange($event)"></ch-wysiwyg>
                </div>

                <small class="text-danger" *ngIf="!isInitialLoading && !pageData.content">
                  {{ 'description-invalid:form' | translate }}
                </small>
              </div>

              <div style="margin-top: 40px;">
                <button *ngIf="editMode" type="button" class="btn btn-danger" (click)="delete()" [disabled]="loading">{{ 'delete:edit' | translate }}</button>
                <span class="btn-right">
                  <button type="button" class="btn btn-secondary" (click)="cancel()" [disabled]="loading">{{ 'cancel:edit' | translate }}</button>
                  <ch-loader-button (clicked)="edit(form)" text="{{ texts.save }}" className="btn btn-primary" [loading]="formLoading" [disabled]="loading"></ch-loader-button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>